body {
  background-color: #F6EFED !important;
  color: #1C1919;
  padding: 10px;
}

/*------------Animation----------*/
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
} 

@keyframes slideBottom {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scale {
  from {
    scale: 0%;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-box {
    /* Kondisi awal: tidak terlihat */
    opacity: 0;
    transform: translateY(50px);
}

/* Kelas yang akan ditambahkan oleh JavaScript */
.animate {
    opacity: 100%;
    transform: translateY(0);
    /* animation: 1s ease-out 0s 1 slideBottom; */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
/*------------End Animation----------*/

/*------------Loader Animation----------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  transition: opacity 1s ease-in;
  display: flex; /* Untuk menengahkan loader */
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3; /* Warna dasar */
  border-top: 4px solid #F14E95; /* Warna yang berputar */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animasi putar */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Class untuk menyembunyikan loader */
.hide-loader {
  opacity: 0;
  pointer-events: none; /* Supaya nggak bisa diklik */
}
/*------------End Loader Animation----------*/

/*-------------------------------------- header navbar --------------------------------------------------*/
  #menuHeader {
    background-color: #F6EFED !important;
    font-family: "Sacramento", cursive !important;
    font-weight: 600 !important;
    font-size: 25px !important;
  }

  #menuHeader a:hover {
    color: #F6EFED !important;
  }

  .blog-header-logo {
    text-decoration: none !important;
  }
/*-------------------------------------- end header navbar --------------------------------------------------*/

/*----------------------- content 1 -------------------------*/
#kepada {
  /* animation: 1s ease-out 0s 1 slideBottom; */
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 3px;
}

#setConten1 {
  background-color: white;
  background-size: cover;
  color: #F14E95;
  height: 500px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center center;
}
/*----------------------- end content 1 -------------------------*/

/*----------------------- content 2 -------------------------*/
#setConten2 {
  display: none !important;
}

#setConten2B {
  /* animation: 1s ease-out 0s 1 slideInRight; */
  background-color: #F14E95;
  color: white;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: -53px !important;
}

#fontName {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}
/*----------------------- end content 2 -------------------------*/

/*----------------------- content 3 -------------------------*/
#conten3 {
  margin-top: 20px !important;
}

#setConten3 {
  /* animation: 1s ease-out 0s 1 slideInLeft; */
  background-size: cover;
  width: auto;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 12px !important;
  margin-left: 12px !important;
}

#setConten3B {
  display: none !important;
}

#fontFirman {
  font-weight: 500;
  font-size: 21px;
  padding: 25px;
  font-family: "Cookie", cursive;
}
/*----------------------- end content 3 -------------------------*/

/*----------------------- content 4 -------------------------*/
#conten4 {
  margin-top: 10px !important;
}

#setConten4 {
  text-align: center !important;
  padding: 15px !important;
}

#conten4B {
  display: none !important;
}
/*----------------------- end content 4 -------------------------*/

/*----------------------- content 5 -------------------------*/
#fotoCarousel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#contact {
  color: #1C1919 !important;
  font-weight: 500;
  font-size: 24px !important;
  font-family: "Cookie", cursive;
}
/*----------------------- end content 5 -------------------------*/

/*-------------------------- carousel ------------------------------*/
.carousel {
  margin-bottom: 4rem;
  /* background-color: white; */
}

.carousel-caption {
  /* bottom: 3rem; */
  /* z-index: 10; */
}

.carousel-item {
  height: 20rem;
}
/*------------------------ end carousel ------------------------------*/

/*------------------------ footer ------------------------------*/
#foot {
  padding-top: 40px !important;
}
/*------------------------ end footer ------------------------------*/

@media (max-width: 480px) {

  /*----------------------- content 1 -------------------------*/
  #kepada {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 2px;
  margin-top: 30px !important;
  }
  /*----------------------- end content 1 -------------------------*/

  /*----------------------- content 2 -------------------------*/
  #setConten2 {
  /* animation: 1s ease-out 0s 1 slideInRight; */
  display: block !important;
  background-color: #F14E95;
  color: white;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: -60px !important;
  }

  #setConten2B {
  display: none !important;
  }
  /*----------------------- end content 2 -------------------------*/

  /*----------------------- content 3 -------------------------*/
  #setConten3 {
  display: none !important;
  }

  #setConten3B {
  display: block !important;
  background-size: cover;
  height: 400px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center center;
  }
  /*----------------------- end content 3 -------------------------*/

  /*----------------------- menu header -------------------------*/
  #menuHeader {
    z-index: 10 !important;
    background-color: #F6EFED;
    position: fixed;
    margin-top: -10px;
    padding-top: 10px !important;
    left: 0;
    right: 0;
    padding: 0px 20px 0px 20px;
    font-family: "Sacramento", cursive;
    font-weight: 800;
    font-style: normal;
  }
  /*----------------------- end menu header -------------------------*/
  
  /*----------------------- contact -------------------------*/
  #colcontact {
    margin-top: -45px !important;
    margin-bottom: -45px !important;
  }

  #rowKeluarga {
    font-size: 19px !important;
    width: 130% !important;
    height: auto;
    margin-left: -40px !important;
    justify-content: center !important;
    align-items: center !important;
    color: #1C1919 !important;
    font-family: "Cookie", cursive;
  }
  /*----------------------- end contact -------------------------*/

  /*----------------------- footer -------------------------*/
  #foot {
    margin-top: 45px !important;
  }

  #foot2 {
    padding-bottom: 0px !important;
  }
  /*----------------------- end footer -------------------------*/

}

@media (min-width: 481px) and (max-width: 992px) {

  /*----------------------- content 1 -------------------------*/
  #kepada {
  background-color: rgba(255, 255, 255, 0.9);
  width: 250px !important;
  text-align: center;
  padding: 2px;
  }
  /*----------------------- end content 1 -------------------------*/

  /*----------------------- content 2 -------------------------*/
  #setConten2B {
  background-color: #F14E95;
  color: white;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: -45px !important;
  }

  #fontName {
  font-family: "Cookie", cursive;
  font-weight: 400 !important;
  font-size: 25px !important;
  font-style: normal;
  }
  /*----------------------- end content 2 -------------------------*/

  /*----------------------- content 4 -------------------------*/
  #conten4 {
    display: none !important;
  }

  #conten4B {
    display: block !important;
  }

  #setConten4B {
  text-align: center !important;
  padding: 15px !important;
  }
  /*----------------------- end content 4 -------------------------*/

  /*----------------------- contact -------------------------*/
  #rowKeluarga {
    font-size: 19px !important;
    width: 130% !important;
    height: auto;
    margin-left: -40px !important;
    justify-content: center !important;
    align-items: center !important;
    color: #1C1919 !important;
    font-family: "Cookie", cursive;
  }
  /*----------------------- end contact -------------------------*/
}

@media (min-width: 993px) {

   /*----------------------- contact -------------------------*/
  #rowKeluarga {
    font-size: 19px !important;
    width: 130% !important;
    height: auto;
    margin-left: -60px !important;
    justify-content: center !important;
    align-items: center !important;
    color: #1C1919 !important;
    font-family: "Cookie", cursive;
  }
  /*----------------------- end contact -------------------------*/

}
